// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.published_at {
  color: #A0A0A0;
}

.CodeRay {
  @include border-radius(6px);
}

.modify_links {
  margin-top: 10px;
}

h1 {
  margin-bottom: 10px;
}

.btn-cancel {
  margin: 0px 10px;
}

a.btn-tag {
  @include border-radius(3px);
  margin: 1px 1px;
  padding: 3px 7px;
  color: white;
  background-color: #4A95BC;
  text-decoration: none;
  &:hover {
    background-color: #99414C;
  }
}

.post-body {
  margin-top: 20px;
}

.fb-comments {
  margin-top: 20px;
  padding: 10px 0 36px;
  border-top: 1px solid #E5E5E5;
}